# Ignore database input files
input/databases/

# Ignore large pfam output files
output/hmm_search_1/pfam/
output/hmm_search_2/pfam/

# Ignore large taxonomy output
analysis/pfam_r1r2_comparison/r1r2_pfam_acidalc_taxon.csv   
anaylsis/pfam_r1r2_comparison/taxonomy_parsed.csv