# Ignore database input files
input/databases/

# Ignore large pfam output files
output/hmm_search_1/
output/hmm_search_2/
output/hmm_search_3/

# Ignore large taxonomy output
analysis/pfam_tax/r1r2_pfam_acidalc_taxon.csv
analysis/pfam_tax/taxonomy_parsed.csv
analysis/pfam_tax/fulltable.csv
analysis/R_DataVisualisation/fulltable.csv